* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF0000;
    --primary-font: "Nunito Sans";
    --secondary-font: "Open Sans";
    --container-width: 1088px;
    --btn-padding: 22px 55px;
}

